<div id="dashboard_top" class="tabcontent tabheader">
    <h3>Dashboard</h3>
    <p>User Dashboard</p>
</div>

<div id="savings_top" class="tabcontent tabheader">
    <h3>Savings</h3>
    <p>User's Savings</p>
</div>

<div id="spending_top" class="tabcontent tabheader">
    <h3>Spending</h3>
    <p>User's Spending</p>
</div>

<div id="goals_top" class="tabcontent tabheader">
    <h3>Goals</h3>
    <p>User Goals</p>
</div>

<button class="tablink" onclick="openTab('dashboard_top', 'dashboard_bot', this, 'red')" id="defaultOpen">Dashboard</button>
<button class="tablink" onclick="openTab('savings_top','savings_bot', this, 'green')">Savings</button>
<button class="tablink" onclick="openTab('spending_top', 'spending_bot', this, 'blue')">Spending</button>
<button class="tablink" onclick="openTab('goals_top', 'goals_bot', this, 'orange')">Goals</button>

<div id="dashboard_bot" class="tabcontent tabheader">
        <h3>Dashboard</h3>
        <p>User Dashboard</p>
    </div>
    
    <div id="savings_bot" class="tabcontent tabheader">
        <h3>Savings</h3>
        <p>User's Savings</p>
    </div>
    
    <div id="spending_bot" class="tabcontent tabheader">
        <h3>Spending</h3>
        <p>User's Spending</p>
    </div>
    
    <div id="goals_bot" class="tabcontent tabheader">
        <h3>Goals</h3>
        <p>User Goals</p>
    </div>
