<<<<<<< HEAD
  <div class="container">
		<h1 class="header">Budget App - Log In</h1>
		<div class="card login_card">
            <h3>Log In</h3>
=======
<div class="container">

    <div class="card login_card">
        <h1 class="header">Budget App - Log In</h1>
        <br>
>>>>>>> 9fdae4d9345d4583219cb067260731a5258a27d2
        <form class="login_form">
            Username:
            <br>
            <input type="text">
            <br> Password:
            <br>
            <input type="text">
            <br>
            <br>
            <input class="loginBtn" type="submit" value="Enter">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </form>
    </div>
</div>