  <div class="container">
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
		<h1 class="header">Budget App - Log In</h1>
		<div class="card login_card">
            <h3>Log In</h3>
        <form class="login_form">
			Username:<br>
			<input type="text" ><br>
			Password:<br>
            <input type="text" ><br>
            <input type="submit" value="Enter">
        </form>
        </div>
     </div>